$color_1: white;
$color_2: #585757;
$color_3: rgb(36, 34, 34);
$color_4: #969696;
$color_5: #1c1c1c;
$color_6: black;
$color_7: #24afb5;
$color_8: #fff;
$font-family_1: sans-serif;
$background-color_1: #24afb5;
$background-color_2: #dbdbdb;
$background-color_3: white;