@use 'variables';
@use 'global';

.key__points--keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.key__points__item {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  align-items: center;
  height: 100px;
}

.key__points__header--h2 {
  color: variables.$color_5;
  font-size: 24px;
}

.key__points--text {
  color: variables.$color_2;
  font-size: 15px;
  margin-left: 20px;
}

.key__points--star {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: variables.$background-color_2;
  border-radius: 50%;
}

.key__points--image {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {

  .key {
    &__points {
      display: flex;
      padding: 110px 0;
      justify-content: center;
      align-items: center;
      gap: 30px;

      &__items {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--image img {
        width: 40vw;
        overflow: hidden;
      }
    }
  }
}