:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.navigation li {
  list-style-type: none;
}
.navigation__desktop--item {
  display: none;
}

@media only screen and (min-width: 996px) {
  .navigation {
    display: flex;
    margin: 0 auto;
  }
  .navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
  }
  .navigation__mobile--item {
    display: none;
  }
  .navigation__desktop--item {
    display: inline-block;
  }
  .navigation a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #1c1c1c;
  }
  .navigation a:hover {
    color: #24afb5;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
}
.header__form {
  padding: 0 20px;
}
.header__form h1 {
  font-size: 46px;
  margin-bottom: 20px;
}
.header__form p {
  font-size: 20px;
  color: rgb(36, 34, 34);
  padding-bottom: 20px;
}
.header__form input {
  width: 100%;
  border: 2px solid #585757;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 7px;
  opacity: 0.5;
}
.header__image {
  height: 368px;
  background-image: url("/assets/header-image.svg");
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  transform: translateX(20px);
  overflow: hidden;
}
.header__info {
  color: #969696;
  padding-top: 20px;
  opacity: 0.5;
  font-size: 13px;
}
.header .header .header__form__text-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .header__form {
    width: 53%;
    padding: 100px;
  }
  .header__form h1 {
    padding: 10px 0;
  }
  .header__form button {
    margin: 10px 0;
  }
  .header__form__text-desktop {
    display: inline-block;
  }
  .header__form__text-mobile {
    display: none;
  }
  .header__form-input {
    width: 75%;
  }
  .header__image {
    width: 47%;
    height: 600px;
    background-image: url("/assets/header-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    overflow: hidden;
  }
  .header__info {
    font-size: 13px;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro__circle {
  display: flex;
  margin: 40px 0 25px 0;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 96px;
  background-color: #dbdbdb;
  border-radius: 50%;
}
.intro__circle__star {
  color: #969696;
}
.intro__circle__text-mobile {
  margin-bottom: 40px;
}
.intro__circle__text-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .intro {
    margin: 50px 0;
  }
  .intro__circle__text-mobile {
    display: none;
  }
  .intro__circle__text-desktop {
    display: block;
    width: 50%;
    margin: 80px;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.key__points--keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.key__points__item {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  align-items: center;
  height: 100px;
}
.key__points__header--h2 {
  color: #1c1c1c;
  font-size: 24px;
}
.key__points--text {
  color: #585757;
  font-size: 15px;
  margin-left: 20px;
}
.key__points--star {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #dbdbdb;
  border-radius: 50%;
}
.key__points--image {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .key__points {
    display: flex;
    padding: 110px 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .key__points__items {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .key__points--image img {
    width: 40vw;
    overflow: hidden;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
}
.stats__image {
  display: flex;
  justify-content: center;
}
.stats__percentages__container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.stats__paragraph {
  font-size: 15px;
  color: #585757;
}
.stats__paragraph--gray {
  margin: 20px 0;
  font-size: 13px;
  color: #969696;
}
.stats__percentage__box {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.stats__percentage__number {
  font-size: 36px;
  font-weight: 700;
}
.stats__percentage__number img {
  margin: 0 20px;
}
.stats__percentage__name {
  margin: 20px 0;
  text-align: center;
  color: #585757;
}

@media only screen and (min-width: 872px) {
  .stats__percentages__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .stats__percentage__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 20vw;
  }
}
@media only screen and (min-width: 768px) {
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
  }
  .stats__image {
    width: 33.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .stats__percentages__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .stats__percentage__box {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .stats__informations {
    display: flex;
    flex-direction: column;
    width: 33.3vw;
    justify-content: center;
    padding: 100px;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.features h2 {
  font-size: 46px;
  margin: 20px 0;
  text-align: center;
}
.features p {
  margin: 0 50px;
  text-align: center;
}

.features__container {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.features__image {
  width: 100%;
  place-items: center;
}

.feature__box {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .features {
    padding: 100px 0px 0px 0px;
  }
  .features p {
    margin: 40px auto;
    padding: 40px 0;
    max-width: 700px;
  }
  .features__container {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    flex-direction: row;
  }
  .feature__box {
    width: 25%;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.authors {
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.authors__quote--icon {
  width: 50px;
  height: 20px;
  align-self: center;
}
.authors__company__logo {
  width: 150px;
  align-self: center;
}
.authors__person {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.authors__position {
  font-size: 15px;
  font-weight: 400px;
}
.authors__link {
  color: #24afb5;
  text-decoration: none;
}
.authors__link:hover {
  text-decoration: underline;
}
.authors__slider {
  width: 50px;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .authors {
    padding: 100px 0;
  }
  .authors p {
    width: 50vw;
    margin: 0 auto;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.pricing {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 40px 0;
}
.pricing__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.pricing__box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 290px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #585757;
  margin: 5px;
}
.pricing__box-packet-name {
  color: #1c1c1c;
  font-size: 20px;
}
.pricing__box-packet-price {
  color: #1c1c1c;
  font-size: 48px;
  font-weight: bold;
  margin: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.pricing__box-packet {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.pricing__box-packet span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding-left: 10px;
  color: #585757;
}
.pricing__box-features {
  padding: 20px;
}
.pricing__box-features p {
  padding: 5px;
  font-size: 15px;
  color: #969696;
}
.pricing__box-button {
  padding: 20px;
}
.pricing__box-description {
  padding: 20px;
}
.pricing__box-description p {
  color: #969696;
  font-size: 13px;
}

.pricing__box .pricing__box-button-main {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #dbdbdb;
  font-size: 20px;
}

.popular {
  border: 2px solid #24afb5;
  box-shadow: none;
}

.pricing__box.popular {
  position: relative;
}

.pricing__box-button-main.popular {
  background-color: #24afb5;
  color: #fff;
}

.pricing__box-popular-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background-color: #24afb5;
  color: #fff;
  border-radius: 5px 0px 5px 5px;
}

@media only screen and (min-width: 768px) {
  .pricing__container {
    padding: 100px;
    flex-direction: row;
    gap: 100px;
    justify-content: space-evenly;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.subscription {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.subscription__heading p {
  margin: 20px 0;
  font-size: 15px;
  color: #585757;
  max-width: 340px;
}
.subscription__form.header__form {
  margin: 0 -20px;
}
.subscription__form.header__form input {
  font-size: 20px;
}
.subscription__button.button-turquise {
  max-width: 180px;
  font-size: 20px;
  height: 53px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .subscription {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .subscription__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subscription__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .subscription__button {
    width: 300px;
  }
}
:root {
  --tblr-font-sans-serif: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.button-turquise {
  background-color: #24afb5;
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 20px;
}

hr {
  height: 2px;
}

.font-style {
  color: #585757;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}
.footer__links-link-group ul {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 10%;
  list-style-type: none;
  margin: 20px 0;
}
.footer__links-link-group ul li {
  margin: 10px;
}
.footer__links-link-group ul li a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #1c1c1c;
}
.footer__links-link-group ul li a:hover {
  color: #24afb5;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer__copyright p {
  width: 300px;
  color: #969696;
  font-weight: lighter;
}
.footer__social-media {
  font-size: 22px;
  margin-top: 30px;
  color: #24afb5;
}
.footer__social-media ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
