@use '../variables';
@use '../global';

.authors {
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__quote--icon {
    width: 50px;
    height: 20px;
    align-self: center;
  }

  &__company__logo {
    width: 150px;
    align-self: center;
  }

  &__person {
    font-size: 20px;
    font-weight: 600;
    color: variables.$color_6;
  }

  &__position {
    font-size: 15px;
    font-weight: 400px;
  }

  &__link {
    color: variables.$color_7;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__slider {
    width: 50px;
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .authors {
    padding: 100px 0;

    p {
      width: 50vw;
      margin: 0 auto;
    }
  }
}