@use '../variables';
@use '../global';

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;

  &__links {

    &-link-group {
      ul {
        display: flex;
        text-align: center;
        justify-content: space-around;
        gap: 10%;
        list-style-type: none;
        margin: 20px 0;

        li {
          margin: 10px;

          a {
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
            color: variables.$color_5;

            &:hover {
              color: variables.$color_7;
            }
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
      width: 300px;
      color: variables.$color_4;
      font-weight: lighter;
    }
  }

  &__social-media {
    font-size: 22px;
    margin-top: 30px;
    color: variables.$color_7;

    ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style: none;
      text-align: center;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__links {
      display: flex;
      flex-direction: column;
    }
  }

}