@use '../variables';
@use '../global';

.header {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;

  &__form {
    padding: 0 20px;

    h1 {
      font-size: 46px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      color: variables.$color_3;
      padding-bottom: 20px;
    }

    input {
      width: 100%;
      border: 2px solid #585757;
      margin-bottom: 10px;
      padding: 20px 20px;
      border-radius: 7px;
      opacity: 0.5;
    }
  }

  &__image {
    height: 368px;
    background-image: url('/assets/header-image.svg');
    padding: 40px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    transform: translateX(20px);
    overflow: hidden;
  }

  &__info {
    color: variables.$color_4;
    padding-top: 20px;
    opacity: 0.5;
    font-size: 13px;
  }

  .header .header__form__text-desktop {
    display: none;
  }
}



@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    &__form {
      width: 53%;
      padding: 100px;

      h1 {
        padding: 10px 0;
      }

      button {
        margin: 10px 0;
      }

      &__text-desktop {
        display: inline-block;
      }

      &__text-mobile {
        display: none;
      }

      &-input {
        width: 75%;
      }
    }

    &__image {
      width: 47%;
      height: 600px;
      background-image: url('/assets/header-image.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 100%;
      overflow: hidden;
    }

    &__info {
      font-size: 13px;
    }

  }
}